body{
	background-image: url("../img/openingIMG.png");
	background-repeat: no-repeat;
    background-size: cover;
}

#loadPage {
    width: 100%;
    height: 93%;
    position: absolute;
}

.loader {
  border: 9px solid #f3f3f3;
  border-radius: 50%;
  border-top: 9px solid coral;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  margin: 0 auto;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.wait{
    font-family: 'Felix007', serif;
    font-size: 33px;
    font-weight: bold;
    top: 1%;
    text-align: center;
	color: black;
}

#mainPic{
	background-image: url("../img/openingIMG.png");
    background-size: contain;
	width: 100%;
    height: 22%;
    background-repeat: no-repeat;
    background-position: center;
}

.animated {
    -webkit-animation-duration: 4s;
    -moz-animation-duration: 4s;
    -o-animation-duration: 4s;
    animation-duration: 4s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-name: leftExtream;
}

@keyframes leftExtream {
    15% {
        transform: translateX(80%);
    } 
    30% {
        transform: translateX(-80%);
    } 
    45% {
        transform: translateX(80%);
    }
    50% {
        transform: translateX(-80%);
    }
    80% {
        transform: translateX(80%);
    }
    100% {
        transform: translateX(-80%);
    }
}

#signPic{
	font-family: 'Felix007', serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}