
.pageLabel{
    font-size: large;
    color: #080808;
    text-align: center;
    white-space: nowrap;
    font-family: 'Felix007', serif;
}

.newFont{
    font-family: 'Felix007', serif;
    font-size: 25px;
}

input[type='text']{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid lightblue;
    text-align: right;
    background-color: transparent;
}

#alertInfoLabel{
    float: right;
    font-family: 'Felix007', serif;
    font-size: 25px;
    color: red;
}

.container{
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
    border-color: #ddd;
    border-radius: 0.25em;
    height: fit-content;
    position: relative;
    box-shadow: 0 9px 45px 0 rgba(8, 8, 8, 0.44), 0 9px 42px 0 rgba(51, 51, 51, 0.71);
}

.loginBtn{
    white-space: nowrap;
    border-radius: 27px;
    display: inline-block;
    background-color: #fff;
    font-weight: 500;
    font-family:'Felix007', serif;
    font-size: 17px;
    padding: 2px 20px;
    text-decoration: none;
    text-shadow: rgb(255, 255, 255) 0px 0px 0px;
    color: #166888;
    border: .2rem solid #166888;
}