html{
    margin:0;
    color:#6a6f8c;
    background:#c8c8c8;
    font:600 16px/18px 'Felix007', serif;
    font-size: 25px;
    background: url(../img/back.jpg) no-repeat center;
    background-size: contain;
    background-position-y: bottom;
}

#upperButton{
    background: #ffffff ;
}

a{
    font-size: 25px;
    color: #072d4d;
    font-weight: bold;
}

.g{
    font-size: 30px;
}

.invisibleRow{
    border: none;
    background-color: transparent;
}

.Request-wrap{
    width:100%;
    margin:auto;
    max-width:80%;
    min-height: 570px;
    position:relative;
    box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}
.Request-html{
    width:100%;
    height:100%;
    position:absolute;
    padding: 7% 10% 90% 30%;
}


.Request-html .sign-in-htm,
.Request-html .sign-up-htm{
    top:0;
    left:0;
    right:0;
    bottom:0;
    position:absolute;
    -webkit-transform:rotateY(90deg);
    transform:rotateY(90deg);
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
    -webkit-transition:all .4s linear;
    transition:all .4s linear;
}
.Request-html .sign-in,
.Request-html .sign-up,
.Request-form .group .check{
    display:none;
}
.Request-html .tab,
.Request-form .group .label,
.Request-form .group .button{
    text-transform:uppercase;
}
.Request-html .tab{
    font-size:17px;
    margin-right:15px;
    padding-bottom:5px;
    margin:0 15px 10px 0;
    display:inline-block;
    font-family: 'Felix007', serif;
    border-bottom:2px solid transparent;
}
.Request-html .sign-in:checked + .tab,
.Request-html .sign-up:checked + .tab{
    color:#333;
    border-color:#1161ee;
}
.Request-form{
    min-height:345px;
    position:relative;
    -webkit-perspective:1000px;
    perspective:1000px;
    -webkit-transform-style:preserve-3d;
    transform-style:preserve-3d;
}
.Request-form .group{
    margin-bottom:15px;
}
.Request-form .group .label,
.Request-form .group .input,
.Request-form .group .button{
    width:130%;
    color:#333;
    display:block;
    font-size: 20px;
    float: right;
}
.Request-form .group .input,
.Request-form .group .button{
    border:none;
    padding:15px 20px;
    border-radius:25px;
    background: rgba(208, 201, 201, 0.48);
}
.Request-form .group input[data-type="password"]{
    text-security:circle;
    -webkit-text-security:circle;
}
.Request-form .group .label{
    color:black;
    font-family: 'Felix007', serif;
    font-size:25px;
    padding-left: 45%;
}
.Request-form .group .button{
    background:#1161ee;
}
.Request-form .group label .icon{
    width:15px;
    height:15px;
    border-radius:2px;
    position:relative;
    display:inline-block;
    background:rgba(255,255,255,.1);
}
.Request-form .group label .icon:before,
.Request-form .group label .icon:after{
    content:'';
    width:10px;
    height:2px;
    background:#fff;
    position:absolute;
    -webkit-transition:all .2s ease-in-out 0s;
    transition:all .2s ease-in-out 0s;
}
.Request-form .group label .icon:before{
    left:3px;
    width:5px;
    bottom:6px;
    -webkit-transform:scale(0) rotate(0deg);
    transform:scale(0) rotate(0deg);
}
.Request-form .group label .icon:after{
    top:6px;
    right:0;
    -webkit-transform:scale(0) rotate(0deg);
    transform:scale(0) rotate(0deg);
}
.Request-form .group .check:checked + label{
    color:#333;
    font-size: 20px;
    font-family: 'Felix007', serif;
}
.Request-form .group .check:checked + label .icon{
    background:#1161ee;
}
.Request-form .group .check:checked + label .icon:before{
    -webkit-transform:scale(1) rotate(45deg);
    transform:scale(1) rotate(45deg);
}
.Request-form .group .check:checked + label .icon:after{
    -webkit-transform:scale(1) rotate(-45deg);
    transform:scale(1) rotate(-45deg);
}
.Request-html .sign-in:checked + .tab + .sign-up + .tab + .Request-form .sign-in-htm{
    -webkit-transform:rotate(0deg);
    transform:rotate(0deg);
}
.Request-html .sign-up:checked + .tab + .Request-form .sign-up-htm{
    -webkit-transform:rotate(0deg);
    transform:rotate(0deg);
}

.foot-lnk{
    text-align:center;
    font-size: 111%;
    font-family: 'Felix007', serif;
    color: black;
}

.data-alert{
    text-align:center;
    font-size: 115%;
    font-family: 'Felix007', serif;
    color: red;
}

.text_align{
    text-align: center;
}

#FBpic{
    margin-left: -20%;
}

.button:focus {
    outline:none;
}