/*html {
    background: url(../img/back.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body{
    background-color: transparent;
}*/


.contain{
	padding-left: 0;
	padding-top: 5px;
}

.inputBtn{
    background-color: #b1b1b1;
    color: white;
    opacity: 0.9;
    border-color: transparent;
    font-family: 'Felix007', serif;
    font-size: 20px;
    border-radius: 12px;
	text-align: center;
    white-space: pre-line;
}

.newFont{
    background-color: #6489b1;
    border-color: transparent;
    color: white;
    font-family: 'Felix007', serif;
    font-size: 20px;
    border-radius: 12px;
}

.invisibleRow{
    border: none;
    background-color: transparent;
}

.container {
    font-size: 0; /* Required because inline-block elements have space between them. Other possible solutions for the problem: http://css-tricks.com/fighting... */
    overflow: auto;
    overflow-y: hidden;
    white-space: nowrap; /* actually this line of code does the "magic" */
    width: 100%;
    height: 100%;
}

.container > article {
    display: inline-block;
    /*    font-size: 16px; !* Reset font-size back to normal *!*/
    vertical-align: top;
    /*   width: 100%;*/
}

.table > section {
    width: 100vw;
    height: 100vh;
}

#btnAnimate{
    background-image: url("../img/alert.png");
    background-repeat: no-repeat;
    width: 100px;
    height: 109px;
    background-color: transparent;
    border: transparent;
}

.imgClass{
	border-color: black;
	border: 3px solid black;
	border-radius: 100%;
	background: aliceblue;
	width: 120%;
}

.textlabel{
	font-size: medium;
	font-family: 'Felix007', serif;
}

.horizTranslate {
    -webkit-transition: 3s;
    -moz-transition: 3s;
    -ms-transition: 3s;
    -o-transition: 3s;
    transition: 3s;
    margin-left: 39% !important;
}
.animated.bounceInUp {
    -webkit-animation-name: bounceInUp;
    -moz-animation-name: bounceInUp;
    -o-animation-name: bounceInUp;
    animation-name: bounceInUp;
}

.animated {
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
}

h3 { 
	font-size: 18px;
    margin: 10px;
    text-align: right;
	font-family: 'Felix007', serif;
 }
 
#send{
    font-size: large;
	position: absolute;
    width: 100%;
    color: white;
    font-family: 'Felix007', serif;
    background-color: rgba(141, 144, 140, 0.73);
    border-radius: 7px;
    box-shadow: 0 12px 15px 0 rgba(0,0,0,.24), 0 17px 50px 0 rgba(0,0,0,.19);
}
 
.ani1 { animation-delay:0.1s; -moz-animation-delay:0.1s; -webkit-animation-delay:0.1s; }
.ani2 { animation-delay:0.2s; -moz-animation-delay:0.2s; -webkit-animation-delay:0.2s; }
.ani3 { animation-delay:0.3s; -moz-animation-delay:0.3s; -webkit-animation-delay:0.3s; }
.ani4 { animation-delay:0.4s; -moz-animation-delay:0.4s; -webkit-animation-delay:0.4s; }

.bubble img {
	float:right;
    width:70px;
    height:70px;
    border-radius:10px;
	display: flex;
}

.bubble-content {    
	top: 15px;
	font-size: 15px;
	position:relative;
	font-family: 'Felix007', serif;
	float:right;
	margin-right:12px;
	width:fit-content;
	padding:0px 20px;
	border-radius:10px;
	background-color:#FFFFFF;
	box-shadow:1px 1px 5px rgba(0,0,0,.2);
	display: flex;
}

.bubble {
	margin-top:20px;
}

.point {
	border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 9px solid darkgrey;
    position: absolute;
    top: 7px;
    right: -10px;
}
 
.clearfix:after {
	visibility:hidden;
	display:block;
	font-size:0;
	content: ".";
	clear:both;
	height:0;
}

* html .clearfix {
	height: 1%;
}

#comment{
	width: -webkit-fill-available;
	text-align: center;
}

.stars {
    height: 100%;
    width: 100%;
    filter: grayscale()
}

.btn-block:focus {
    outline:none;
}

