html{
	background: url(../img/back.jpg) no-repeat fixed;
    background-size: 115%;
}

#textZone{
    position: relavtive;
    text-align: right;
    font-size: large;
    padding-right: 13%;
    padding-left: 13%;
	font-family: 'Felix007', serif;
    white-space: pre-line;
}

#topHeadline{
    position: absolute;
    text-align: right;
    padding-left: 18%;
	font-family: 'Felix007', serif;
}

#videoZone{
	position: absolute;
}

#topHeadline{
	    padding-right: 15%;
}

.likebtn{
    background-color: #7b7bea;
    color: white;
    font-weight: 800;
}