#loadPage {
    width: 100%;
    height: 100%;
    position: absolute;
}

.loader {
  border: 9px solid #f3f3f3;
  border-radius: 50%;
  border-top: 9px solid darkred;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  margin: 0 auto;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#wait{
	font-family: 'Felix007', serif;
	font-size: 28px;
	text-align: right;
    margin-right: 25%;
	font-weight: bold;
}

#mainPic{
	background-image: url("../img/b.png");
	width: 100%;
    height: 150px;
    background-repeat: no-repeat;
}

#signPic{
	background-image: url("../img/sign.png");
	width: 100%;
    height: 100px;
    background-repeat: no-repeat;
	margin-left: 15%;
}
